@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.task-grid {
  margin-top: 10px;
  /* display: grid; */
  /* gap: 15px; */
  border-radius: 10px;
  padding: 10px;
  background-color: lightgray;
}

.TaskCard {
  /* width: 300px; */
  margin-top: 10px;
  height: 100px;
  background: white;
  border: 1px solid gray;
  border-radius: 8px;
}

.button {
  width: 310px;
  height: 30;
  /* padding: 50px; */
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid black;
  background: lightgray;
  border-radius: 10px;
}

.status {
  width: 300px;
  height: 30px;
  /* border: 1px solid black; */
  background: lightgray;
  border-radius: 10px;
}

h1 {
  /* padding: 10px; */
  font-weight: bold;
}

h2 {
  margin-left: 15px;
  font-weight: 700;
  font-size: larger;
}

h3 {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  /* padding: 20px; */
  font-weight: 600;
  /* font-size: large; */
}

p {
  margin-left: 20px;
  /* padding: 20px; */
  font-size: medium;
}